<!DOCTYPE html>
<html lang="en">

<style>
body {
    background-image: url('../static/wallpaper/pickle_wall.jpg');
}

</style>

<head>

    <title>{{ title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>

<body id="body">

        {% for img in pickles %}
        <div>
            <img src="{{ img }}" id="{{ img }}">
        </div>
        {% endfor %}


    <img id="play_link" src="..\static\play_button.png" onclick="setInterval(play_button, 4000)" width="300" height="300">

    {% block javascript %}
        <script type="text/javascript">

            window.onload = function start() {
                var img_id_list = {{ pickles | tojson }};
                var w = window.innerWidth;
                var h = window.innerHeight;
                for (i = 0; i < img_id_list.length; i++)
                {
                    var image = document.getElementById(img_id_list[i]);
                    image.style.position = 'relative';
                    
                    // Randomize positions
                    image.style.left = Math.floor(Math.random() * w) + "px";
                    image.style.top = Math.floor(Math.random() * h) + "px";
                }

                var velocityArray = [];
                for (i = 0; i < img_id_list.length; i++)
                {
                    vel_x = Math.floor(Math.random() * 3) - 6;
                    vel_y = Math.floor(Math.random() * 3) - 6;
                    velocityArray.push([vel_x, vel_y]);
                }

                display(velocityArray, h, w);
            }

            function display(velocityArray, h, w) {
                var img_id_list = {{ pickles | tojson }};
                window.setInterval(function() {
                    for (i = 0; i < img_id_list.length; i++)
                    {
                        var image = document.getElementById(img_id_list[i]);
                        console.log(parseInt(image.style.width), parseInt(image.style.height));

                        image.style.left = parseInt(image.style.left) + velocityArray[i][0] + 'px';
                        image.style.top = parseInt(image.style.top) + velocityArray[i][1] + 'px';

                        // wrap x and y if they go outside the screen bounds
                        if (parseInt(image.getBoundingClientRect().right) > w) {
                            velocityArray[i][0] *= -1;
                        }
                        else if (parseInt(image.getBoundingClientRect().left) < 0) {
                            velocityArray[i][0] *= -1;
                        }

                        if (parseInt(image.getBoundingClientRect().bottom) > h) {
                            velocityArray[i][1] *= -1;
                        }
                        else if (parseInt(image.getBoundingClientRect().top) < 0) {
                            velocityArray[i][1] *= -1;
                        }
                    }
                }, 10); // Repeat every 1 second
            }

            function play_button() {
                var sound_files = {{ sound_files|safe }};

                n = Math.floor(Math.random() * sound_files.length);

                var audio_element = document.createElement("audio")
                audio_element.setAttribute("id", "pickle_audio")
                audio_element.setAttribute("src", sound_files[n])
                document.body.appendChild(audio_element)

                audio_element.play();
            }
        </script>
    {% endblock %}

</body>


</html>